body {
	font-family: 'calibri';
	font-weight: 290;
	text-align: center;
	color: white;
	background-color: #505861;
}
h1 {
	color: #FFFFFF;
  	font-size: 16px;
  	text-align: center;
  	font-weight: bolder;
}
h2 {
  text-align: center;
  font-size: 22px;
}
h3 {
	text-align: center;
	font-size: 36px;
	font-family: 'helvetica';
	color: black;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: orange;
  font-style: bold;
}
.subtitle {
	font-size: 16px;
}
.introleft {
	font-size: 22px;
	color: orange;
	text-align: left;
}
.introright {
	text-align: right;
	font-size: 13px;
	color: white;
	background-color: #737e8b;
}
.list {
	text-align: left;
	list-style-type: none;
	text-indent: 0px;
	font-size: 20px;
}
#rowtwo {
	padding-bottom: 20px;
}
#navcountries {
	background-color: #737e8b;
}
#links {
	text-align: left;
	font-size: 13px;
	list-style: none;
	padding: 30px;
	word-spacing: 4px;
}
#leftcol {
	background-color: #54748b;
}
#rightcol {
	background-color: #e4e9ee;
	min-height: 200px;
}
#pagewrite {
	background-color: #f5f5f5;
	min-height: 350px;
}
#videoyoutube {
	padding: 20px;
}
.country > img { 
  	height: 170px;
  	width: 300px;
  	padding: 15px;
}
#introjava {
	color: black;
	font-size: 18px;
}