body {
	font-family: 'calibri';
	font-weight: 290;
	text-align: center;
	color: white;
	background-color: #505861;
}
h1 {
	color: #FFFFFF;
  	font-size: 16px;
  	text-align: center;
  	font-weight: bolder;
}
h2 {
  text-align: center;
  font-size: 22px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: orange;
  font-style: bold;
}
.subtitle {
	font-size: 16px;
}
.introleft {
	font-size: 22px;
	color: orange;
	text-align: left;
}
.introright {
	text-align: center;
	font-size: 18px;
	color: white;
}
.list {
	text-align: left;
	list-style-type: none;
	text-indent: 0px;
	font-size: 20px;
}
#rowtwo {
	min-height: 50px;
}
#navcountries {
	background-color: #737e8b;
}
#links {
	text-align: center;
	font-size: 14px;
}
#leftcol {
	background-color: #54748b;
}
#rightcol {
	background-color: #e4e9ee;
	min-height: 200px;
}